* {
  font-family: sans-serif;
}

body {
  background: black;
}

.header {
  margin-top: 20px;
  color: white;
  text-align: center;
  font-size: 20px;
}

.sorting-content {
  width: 600px;
  height: 250px;
  position: relative;
  margin: 0 auto;
  color: white;
}

.quick-content {
  width: 600px;
  height: 250px;
  position: relative;
  margin: 0 auto;
  color: white;
}

.column {
  width: 28px;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #58b7ff;
  transition: 0.2s all ease;
}

.quick-column {
  width: 28px;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #58b7ff;
  transition: 0.2s all ease;
}

.column__id {
  position: absolute;
  top: -24px;
  width: 100%;
  text-align: center;
}

.quick-column__id {
  position: absolute;
  top: -24px;
  width: 100%;
  text-align: center;
}
